 body { 
 	font-family : inherit; 
 } 

 body { 
 	width : 100%; 
 } 

 body { 
 	background-color : #fff; 
 } 

 body { 
 	color : #666; 
 } 

 nav#top { 
 	background-color : #EEEEEE; 
 } 

 #menu { 
 	background-color : #008db9; 
 } 

 #menu .nav > li > a { 
 	border-color : #1083A6; 
 } 

 #menu .container .collapse.navbar-collapse .nav.navbar-nav li a:first-child { 
 	color : #FFFFFF; 
 } 

 #menu .container .collapse.navbar-collapse .nav.navbar-nav .dropdown-menu li a, .dropdown-menu a { 
 	color : #333333; 
 } 

 #menu .container .collapse.navbar-collapse .nav.navbar-nav .dropdown-menu li a:hover, #menu .dropdown-menu .see-all:hover { 
 	color : #FFFFFF; 
 } 

 .collapse.navbar-collapse .nav.navbar-nav .dropdown-menu { 
 	background-color : #FFFFFF; 
 } 

 .collapse.navbar-collapse .nav.navbar-nav .dropdown-menu .dropdown-inner .list-unstyled li a:hover, #menu .dropdown-menu .see-all:hover { 
 	background-color : #008db9; 
 } 

 .breadcrumb { 
 	background-color : #f5f5f5; 
 } 

 .breadcrumb { 
 	border-color : #ddd; 
 } 

 .breadcrumb > li:after { 
 	border-color : #ddd; 
 } 

 .breadcrumb li a { 
 	color : #008db9; 
 } 

 .breadcrumb li a:hover { 
 	color : #23527c; 
 } 

 footer { 
 	background-color : #eee; 
 } 

 footer { 
 	border-color : #008db9; 
 } 

 footer { 
 	border-top-width : 6px; 
 } 

 footer { 
 	color : #333; 
 } 

 footer .container .row .col-sm-3 h5 { 
 	color : #008db9; 
 } 

 footer .container .row .col-sm-3 .list-unstyled li a { 
 	color : #008db9; 
 } 

 footer .container .row .col-sm-3 .list-unstyled li a:hover { 
 	color : #008db9; 
 } 

 .product-thumb .button-group button:first-of-type { 
 	background-color : #1f90bb; 
 } 

 .product-thumb .button-group button:first-of-type:hover { 
 	background-color : #1f90bb; 
 } 

 .product-thumb .button-group button:first-of-type:hover { 
 	border : ; 
 } 

 .product-thumb .button-group button:first-of-type { 
 	border-color : ; 
 } 

 .product-thumb .button-group button:first-of-type:hover { 
 	border-color : ; 
 } 

 .product-thumb .button-group button:first-of-type { 
 	color : #fff; 
 } 

 .product-thumb .button-group button:first-of-type:hover { 
 	color : #fff; 
 } 

 .product-thumb .button-group button { 
 	background-color : #eee; 
 } 

 .product-thumb .button-group button:hover { 
 	background-color : #ddd; 
 } 

 .product-thumb .button-group button:hover { 
 	border-color : #ddd; 
 } 

 .product-thumb .button-group button { 
 	color : #888; 
 } 

 .product-thumb .button-group button:hover { 
 	color : #444; 
 } 

 .btn-primary { 
 	background-color : #008db9; 
 } 

 .btn-primary:hover { 
 	background-color : #1f90bb; 
 } 

 .btn-primary { 
 	border-color : #008db9; 
 } 

 .btn-primary { 
 	color : #ffffff; 
 } 

 .btn-primary:hover { 
 	color : #ffffff; 
 } 

 .btn-danger { 
 	background-color : #c9302c; 
 } 

 .btn-danger:hover { 
 	background-color : #ac2925; 
 } 

 .btn-danger { 
 	border-color : #ac2925; 
 } 

 .btn-danger { 
 	color : #fff; 
 } 

 .btn-danger:hover { 
 	color : #fff; 
 } 

 .btn-default { 
 	background-color : transparent; 
 } 

 .btn-default:hover { 
 	background-color : #e6e6e6; 
 } 

 .btn-default { 
 	border-color : #ccc; 
 } 

 .btn-default:hover { 
 	border-color : #adadad; 
 } 

 .btn-default { 
 	color : #777; 
 } 

 .btn-default:hover { 
 	color : #333; 
 } 

 